.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login > button{
    width: 300px;
    font-weight: 800;
    background-color: #738adb;
    color: #eff2f5;
}

.login > button:hover{
    background-color: black;
    color: #eff2f5;
}

.login > div{
    display: flex;
    flex-direction: column;
}

.login>div >img{
    object-fit: contain;
    height: 250px;
}